<!doctype html>
<html>
<head>
    <style>
        body {
            background-color: lightgreen;
            background-image: url('https://www.wallpapertip.com/wmimgs/0-3795_wallpaper-books-library-shelves-lighting-hd-book-library.jpg');
            background-size: cover;
        }
    </style>
    <title>
        Login
    </title>
</head>

    <body>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login"><br />
            <p>Not a registered user?</p>
            <button href="http://localhost:8000/accounts/sign_up">Signup</button>
        </form>
    </body>
</html>