<!doctype html>
<html>
<head>
    <title>
        Main Page
    </title>
    <style>
        body {
            background-color: lightgreen;
        }
    </style>
</head>
    <body>
        <h1>Welcome {{user}}</h1>
        <br />
        <a href="mng/">Book Manager</a><br />
        <a href="issue/">Issue Book(s)</a><br />
        <a href="accounts/logout">Logout</a><br />
        <a href="book_add/">Admin Book Addition</a><br />
        <a href="book_delete/">Admin Book Deletion</a><br />
        <a href="returns/">Return Book(s)</a>
    </body>
</html>