<!doctype html>
<html>
<head>
    <style>
        table, th, td {
            text-align: center
        }
    </style>
    <style>
        body {
            background-color: lawngreen;
        }

        table {
            background-color: lightcyan;
            border: solid;
        }
    </style>
    <title>
        Admin Book Manager(Add)
    </title>
</head>
    <body>
        <h1>Admin Book Addition</h1><br />
        <br />
        <a href="http://localhost:8000/mng/">Book Manager</a>
        <a href="http://localhost:8000/issue/">Issue Book(s)</a>
        <a href="http://localhost:8000/accounts/logout">Logout</a>
        <a href="http://localhost:8000/book_add/">Admin Book Addition</a>
        <a href="http://localhost:8000/book_delete/">Admin Book Deletion</a>
        <a href="http://localhost:8000/returns/">Return Book(s)</a>
        <br />
        <table style="width:100%">
            <caption><b>Library</b></caption>
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Book Title</th>
                    <th>Author</th>
                    <th>Issue Status</th>
                    <th>User Issued</th>
                    <th>Date Issued</th>
                </tr>
            </thead>
            <tbody>
                {% for books in books %}
                <tr>
                    <td>{{books.bid}}</td>
                    <td>{{books.btitle}}</td>
                    <td>{{books.author}}</td>
                    <td>{{books.status}}</td>
                    <td>{{books.user}}</td>
                    <td>{{books.date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br />
        <h2>Add Book</h2>
        <br />

        <form action='' method="POST">
            {% csrf_token %}
            <label for="btitle">Book Title:</label>
            <input type="text" id="btitle" name="btitle" /><br />
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" /><br />
            <input type="submit" value="Add New Book" />
        </form>
    </body>
</html>