<!doctype html>
<html>
<head>
    <style>
        table, th, td {
            text-align: center
        }
    </style>
    <title>
        Issue Book(s)
    </title>
</head>
    <body>
        <h1>Issue Books</h1>
        <br />
        <a href="http://localhost:8000/mng/">Book Manager</a>
        <a href="http://localhost:8000/issue/">Issue Book(s)</a>
        <a href="http://localhost:8000/accounts/logout">Logout</a>
        <a href="http://localhost:8000/book_add/">Admin Book Addition</a>
        <a href="http://localhost:8000/book_delete/">Admin Book Deletion</a>
        <a href="http://localhost:8000/returns/">Return Book(s)</a>
        <br />
        <table style="width:25%">
            <caption>Available Books</caption>
            <thead>
                <tr>
                    <th>Book ID</th>
                    <th>Book Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                {% for books in books %}
                <tr>
                    <td>{{books.bid}}</td>
                    <td>{{books.btitle}}</td>
                    <td>{{books.author}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br />
        <form action="" method="POST">
            {% csrf_token %}
            <input type='number' id="bid" name="bid" value="bid" /><br />
            Enter the Book ID of the book<br />
            <input type="Submit" value="Issue Selected Books" />
        </form>
    </body>
</html>