<!doctype html>
<html>
<head>
    <style>
        th {
            background-color: aqua
        }

        tr:nth-child(even) {
            background-color: lightblue
        }

        body {
            background-color: lightgreen;
        }

        table {
            background-color: mintcream;
            border: solid;
            text-align: center
        }
    </style>
    <title>
        Book Manager
    </title>
</head>
<body>
    <h1>Book Manager</h1>
    <br />
    <a href="http://localhost:8000/mng/">Book Manager</a>
    <a href="http://localhost:8000/issue/">Issue Book(s)</a>
    <a href="http://localhost:8000/accounts/logout">Logout</a>
    <a href="http://localhost:8000/book_add/">Admin Book Addition</a>
    <a href="http://localhost:8000/book_delete/">Admin Book Deletion</a>
    <a href="http://localhost:8000/returns/">Return Book(s)</a>
    <br />
    <table style="width:100%">
        <caption>Library</caption>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Author</th>
                <th>Issue Status</th>
                <th>User Issued</th>
                <th>Date Issued</th>
                <th>Fine(if date exceeded)</th>
            </tr>
        </thead>
        <tbody>
            {% for books in books %}
            <tr>
                <td>{{books.bid}}</td>
                <td>{{books.btitle}}</td>
                <td>{{books.author}}</td>
                <td>{{books.status}}</td>
                <td>{{books.user}}</td>
                <td>{{books.date}}</td>
                <td>{{books.fine}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br />

    <form action="" method="POST">
        {% csrf_token %}
        <label for="query">Search:</label>
        <input type="text" id="query" name="query" /><br />
        <input type="Submit" value="OK" />
    </form>

    <br />

    <table style="width:100%">
        <caption>Search Results</caption>
        <thead>
            <tr>
                <th>Book ID</th>
                <th>Book Title</th>
                <th>Author</th>
                <th>Issue Status</th>
                <th>User Issued</th>
                <th>Date Issued</th>
            </tr>
        </thead>
        <tbody>
            {% for search in search %}
            <tr>
                <td>{{search.bid}}</td>
                <td>{{search.btitle}}</td>
                <td>{{search.author}}</td>
                <td>{{search.status}}</td>
                <td>{{search.user}}</td>
                <td>{{search.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>